<div class="row">
    <form class="form-signin" role="form" novalidate angular-validator name="userRegistrationForm" angular-validator-submit="registrar()">
        <h3 class="form-signin-heading">Paseador - Registrar nueva cuenta</h3>
        <div class="form-group">
            <input type="text"
                   name="inputFirstName"
                   class="form-control"
                   ng-model="paseador.firstName"
                   placeholder="Nombre"
                   validate-on="blur"
                   required
                   required-message="'Nombre es requerido.'">
        </div>
        <div class="form-group">
            <input type="text"
                   name="inputLastName"
                   class="form-control"
                   ng-model="paseador.lastName"
                   placeholder="Apellido"
                   validate-on="blur"
                   required
                   required-message="'Apellido es requerido.'">
        </div>
        <div class="form-group">
            <input type="text"
                   name="inputEmail"
                   class="form-control"
                   ng-model="paseador.email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                   invalid-message="'El email ingresado no es válido'"
                   placeholder="Email"
                   validate-on="blur"
                   required
                   required-message="'Email es requerido.'">
        </div>
        <div class="form-group">
            <input type="number"
                   name="inputPhoneNumber"
                   class="form-control"
                   ng-model="paseador.phone"
                   pattern=".{10,}"
                   invalid-message="'El teléfono ingresado no es válido'"
                   placeholder="Teléfono Celular"
                   validate-on="blur"
                   required
                   required-message="'Teléfono Celular es requerido.'">
        </div>
        <div class="form-group">
            <textarea type="text"
                      cols="2"
                      name="inputDescription"
                      class="form-control"
                      placeholder="Ingrese una breve descripción de usted como paseador"
                      ng-model="paseador.description"
                      validate-on="blur"
                      required
                      required-message="'Descripción es requerido.'"></textarea>
        </div>
        <div class="form-group">
            <wd-address-field address="paseador"></wd-address-field>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number"
                       name="inputPrice"
                       class="form-control"
                       ng-model="paseador.amount"
                       min="1"
                       max="1000000"
                       step="1"
                       placeholder="Cuánto cobrás por hora (por ejemplo, 3500)"
                       validate-on="blur"
                       required
                       required-message="'La tarifa por hora es requerida.'">
            </div>
        </div>
        <div class="form-group">
            <input type="password"
                   name="inputPassword"
                   class="form-control"
                   ng-model="paseador.password"
                   pattern=".{6,}"
                   invalid-message="'Debe contener al menos 6 caracteres'"
                   placeholder="Contraseña"
                   validate-on="blur"
                   required
                   required-message="'Contraseña es requerido.'">
        </div>
        <div class="form-group">
            <input type="password"
                   name="inputConfirmPassword"
                   class="form-control"
                   placeholder="Confirmar contraseña"
                   ng-model="paseador.confirmPassword"
                   pattern=".{6,}"
                   invalid-message="'Debe contener al menos 6 caracteres'"
                   validate-on="blur"
                   required
                   required-message="'Confirma contraseña es requerido.'">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
    </form>
</div>
