<div class="panel panel-primary register-modal-panel">
    <div class="panel-heading text-center">
        Walky Doggy - Registrarme
    </div>
    <div class="panel-body">
        <div class="row buttons-container">
            <div class="col-md-8 col-md-offset-2">
                <button class="btn btn-lg btn-primary btn-block" ng-click="register(1)">Registrarme como Paseador</button>
            </div>
        </div>
        <div class="row buttons-container">
            <div class="col-md-8 col-md-offset-2">
                <button class="btn btn-lg btn-primary btn-block" ng-click="register(2)">Registrarme como Cliente</button>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="closeModal()">Cerrar</button>
        </div>
    </div>
</div>

