<div class="row">
    <form class="form-signin" role="form" novalidate angular-validator name="userRegistrationForm" angular-validator-submit="register()">
        <h3 class="form-signin-heading">Cliente - Registrar nueva cuenta</h3>
        <div class="form-group">
            <input type="text"
                   name="inputFirstName"
                   class="form-control"
                   ng-model="customer.firstName"
                   placeholder="Nombre"
                   validate-on="blur"
                   required
                   required-message="'Nombre es requerido.'">
        </div>
        <div class="form-group">
            <input type="text"
                   name="inputLastName"
                   class="form-control"
                   ng-model="customer.lastName"
                   placeholder="Apellido"
                   validate-on="blur"
                   required
                   required-message="'Apellido es requerido.'">
        </div>
        <div class="form-group">
            <input type="email"
                   name="inputEmail"
                   class="form-control"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                   invalid-message="'El email ingresado no es válido'"
                   ng-model="customer.email"
                   placeholder="Email"
                   validate-on="blur"
                   required
                   required-message="'Email es requerido.'">
        </div>
        <div class="form-group">
            <input type="number"
                   name="inputPhoneNumber"
                   class="form-control"
                   ng-model="customer.phone"
                   pattern=".{10,}"
                   invalid-message="'El teléfono ingresado no es válido'"
                   placeholder="Teléfono Celular"
                   validate-on="blur"
                   required
                   required-message="'Teléfono Celular es requerido.'">
        </div>
        <div class="form-group">
            <wd-address-field address="customer"></wd-address-field>
        </div>
        <div class="form-group">
            <input type="password"
                   name="inputPassword"
                   class="form-control"
                   ng-model="customer.password"
                   placeholder="Contraseña"
                   validate-on="blur"
                   pattern=".{6,}"
                   invalid-message="'Debe contener al menos 6 caracteres'"
                   required
                   required-message="'Contraseña es requerido.'">
        </div>
        <div class="form-group">
            <input type="password"
                   name="inputConfirmPassword"
                   class="form-control"
                   placeholder="Confirmar contraseña"
                   ng-model="customer.confirmPassword"
                   validate-on="blur"
                   pattern=".{6,}"
                   invalid-message="'Debe contener al menos 6 caracteres'"
                   required
                   required-message="'Confirma contraseña es requerido.'">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
    </form>
</div>
