.customer-index {
    .walker-profile-image-container {
        width: 135px;
        height: 135px;
    }

    .walker-profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border:2px solid;
    }

    .btn-hire-container {
        padding-left: 15px;
    }

    .btn-hire {
        width: 25%;
    }

    .label-card-info {
        font-weight: normal;
    }
}
