.walker-index {
    .dog-profile-image-container {
        width: 135px;
        height: 135px;
        margin: 0 auto;
    }

    .dog-profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid;
    }

    .btn-hire-container {
        padding-left: 15px;
    }

    .btn-hire {
        width: 25%;
    }

    .btns-container {
        padding-left: 15px;
    }

    .label-card-info {
        font-weight: normal;
    }

    .walk-expired-container {
        background-color: #ca1515;
    }

    .walk-expired-label {
        color: #ffffff;
    }

    .walks-btns-container {
        display: inline-flex !important;
    }
}
