.work-conditions {
    .work-condition-row {
        background-color: rgba(0, 42, 125, 0.07);
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 9px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:15px;
        border: 1px solid #bbb9b9;

    }
    .new-work-day-btn-container{
        margin-top:15px;
        padding-left:26px;
    }
    .textarea-aditional-information{
        width:100%;
        resize:none;
    }
     .btns-footer-container{
        margin-left:20px;
    }
}
