<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="margin-left:10px" class="navbar-brand active" href="#/">
            Walky Doggy
            <i style="padding-top:1px" class="fa fa-paw fa-fw pull-left"></i>
            <!-- <img class="pull-left" style="margin-top:-15px;margin-right:10px" src="../../../Content/images/dog-profile.jpg" />-->
        </a>
    </div>
    <div class="navbar-container collapse navbar-collapse pull-right">
        <div class="pull-right" ng-show="!userData.haySesion">
            <ul class="nav navbar-nav">
                <li>
                    <a class="topbar-button" href="" ng-click="abrirModalRegistro()">
                        Registrarme
                        <div class="topbar-icon">
                            <i class="fa fa-user-plus fa-fw pull-right"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a class="topbar-button" href="" ng-click="abrirModalInicioSesion()">
                        Iniciar sesión
                        <div class="topbar-icon">
                            <i class="fa fa-sign-in fa-fw pull-right">
                            </i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div ng-show="userData.haySesion" class="pull-right">
            <ul class="nav navbar-nav" ng-show="roleId==2">
                <li>
                    <a class="topbar-button" href="#/pets/list">
                        Mis mascotas
                        <div class="topbar-icon">
                            <i class="fa fa-paw fa-fw pull-right"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="roleId==2 || roleId==3">
                <li>
                    <a class="topbar-button" href="#/friends">
                        Comercios amigos
                        <div class="topbar-icon">
                            <i class="fa fa-heart fa-fw pull-right"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="roleId==2">
                <li>
                    <a class="topbar-button" href="#/walks/requested">
                        Paseos solicitados
                        <div class="topbar-icon">
                            <i class="fa fa-calendar pull-right">
                            </i>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="roleId==1">
                <li>
                    <a class="topbar-button" href="#/admin">
                        Administración
                        <div class="topbar-icon">
                            <i class="fa fa-shield pull-right"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="roleId==3">
                <li>
                    <a class="topbar-button" href="#/work-conditions">
                        Condiciones laborales
                        <div class="topbar-icon">
                            <i class="fa fa-briefcase pull-right">
                            </i>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="roleId==3">
                <li>
                    <a class="topbar-button" href="#/">
                        Mis paseos
                        <div class="topbar-icon">
                            <i class="fa fa-calendar pull-right">
                            </i>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="roleId==2">
                <li>
                    <a class="topbar-button topbar-cta" href="#/">
                        <i class="fa fa-plus"></i>
                        Solicitar paseo
                    </a>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav" ng-show="roleId==2">
                <li>
                    <a class="topbar-button" href="#/">
                        Quiero ser Paseador
                        <div class="topbar-icon">
                            <i class="fa fa-hand-o-up fa-fw pull-right">
                            </i>
                        </div>
                    </a>
                </li>
            </ul>-->
            <ul class="nav navbar-nav navbar-right" ng-show="userData.haySesion">
                <li class="userinfo dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <i class="fa fa-user fa-fw"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-if="roleId!=1"><a href="#/profile">Mi perfil</a></li>
                        <li><a href="" ng-click="abrirModalCambioContrasena()">Cambiar contraseña</a></li>
                        <li><a href="" ng-click="cerrarSesion()">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</div>