<br />
<div class="row work-conditions">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Condiciones laborales</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-12 movie">
                    <form role="form" novalidate angular-validator name="walkRequest" angular-validator-submit="submit()">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Jornadas laborales</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row work-condition-row" ng-repeat="workDay in workDays">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Día de la semana</label>
                                                    <input type="text"
                                                           name="inputWorkDay"
                                                           class="form-control"
                                                           ng-model="workDay.dayOfWeek"
                                                           placeholder="Día de la semana"
                                                           readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Hora desde</label>
                                                    <input type="text"
                                                           name="inputTimeFrom"
                                                           class="form-control"
                                                           ng-model="workDay.timeFrom"
                                                           placeholder="Hora desde"
                                                           readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Hora hasta</label>
                                                    <input type="text"
                                                           name="inputTimeUntil"
                                                           class="form-control"
                                                           ng-model="workDay.timeUntil"
                                                           placeholder="Hora hasta"
                                                           readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="pull-right">
                                                    <div class="col-md-6">
                                                        <button ng-click="edit(workDay.id)" type="button" data-tooltip="Editar jornada laboral" class="btn btn-group-lg btn-success">
                                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                                                        </button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button ng-click="delete(workDay.id)" type="button" data-tooltip="Eliminar jornada laboral" class="btn btn-group-lg btn-danger">
                                                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 new-work-day-btn-container">
                                                <a ng-click="edit(0)" class="btn btn-success" role="button">Agregar nueva jornada laboral</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Precio</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row input-data-row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Precio por paseo</label>
                                                    <div class="input-group">
                                                        <select type="text"
                                                                name="inputPrices"
                                                                class="form-control"
                                                                ng-model="walker.priceId"
                                                                ng-options="price.id as '$ '+price.amount for price in prices"
                                                                validate-on="blur"
                                                                required
                                                                required-message="'Precio por paseo es requerido.'">
                                                            <option value="" disabled selected>Seleccione un precio por paseo</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Información adicional</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row input-data-row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="textarea-aditional-information"
                                                              rows="6"
                                                              placeholder="Ingrese la información que considera importante para que los clientes lo tengan en cuenta y así poder resaltar del resto de los paseadores"
                                                              name="textAreaAditionalInformation"
                                                              ng-model="walker.description"
                                                              validate-on="blur"
                                                              required
                                                              required-message="Debe ingresar información adicional"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <div class="row" style="display:inline-flex">
                                    <div class="text-center btns-footer-container">
                                        <a class="btn btn-danger" href="#/">Cancelar</a>
                                    </div>
                                    <div class="text-center btns-footer-container">
                                        <button type="submit" class="btn btn-success" href="">Guardar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
